[2013-05-10 17:26] jonschlinkert opened #4 "suggestions or use cases for Yeoman/Grunt?"
I'm super interested in testing this out, I'm sure there are some great uses for this with Grunt and Yeoman, so I'l probably just play around and see what I come up with anyway... but before I do I wanted to see if there were ideas floating around already. Anything you've wanted to do but haven't had the time?

[2013-05-13 08:30] #4 closed, assigned to nobody

[2013-06-24 07:51] sindresorhus opened #5 "Fallback if $HOME isn't set"
There are of course environments where [$HOME](https://github.com/yeoman/configstore/blob/master/configstore.js#L9) is not set: https://github.com/bower/bower/issues/558

Is there any way we can gracefully fallback to something else? Maybe a hidden local folder? (it needs to be persistent, so can't use /tmp).
##

@satazor @passy @stephenplusplus

[2013-06-28 23:57] sindresorhus opened #6 "Better permission error message"
In our attempt to make everything more userfriendly we should try to help the user out more if it encounters an permission error. I've seen many of these in the wild and there isn't a lot of documentation on how to fix if you don't know about chown/chmod.

https://github.com/yeoman/configstore/blob/9977baed4d5d304290251f0874224451e6b70982/configstore.js#L14

We need to come up with a good error me

[2013-08-05 19:45] #5 closed, assigned to nobody

[2013-11-17 19:39] sindresorhus opened #10 "Allow choosing JSON instead"
I like the YAML syntax, but it's not as well known as JSON and comes with a lot of baggage.

[2013-12-15 19:03] sindresorhus opened #11 "`.all` should always be an object"
Noticed this in an output @addyosmani shared.

[code]

[2013-12-15 19:04] #11 closed, assigned to nobody

[2014-02-07 10:50] cody- opened #12 "No data in file after creating configstore object"
In version 0.2.1 new Configstore object removes all values from file and writes `{}` there.
In 0.2.0 all fine.

[2014-02-07 11:15] #12 closed, assigned to nobody

[2014-03-18 13:25] fab-b opened #13 "Problem with tmpdir"
I'm trying to run a yeoman generator and I'm facing this error:

"TypeError: Object #<Object> has no method tmpdir" inside configstore.js

I'm not sure about it, but maybe you need to update your code with this fix https://github.com/sindresorhus/tempfile/issues/4

[2014-03-18 14:11] #13 closed, assigned to nobody

[2014-03-28 11:01] wibblymat opened #16 "Make config files private"
Currently configstore creates files that are globally readable. They should instead be readable by the owner only by default. This allows you to store things like credentials securely.

[2014-03-28 12:32] #16 closed, assigned to nobody

[2014-05-06 14:58] jescalan opened #19 "Changelog?"
It doesn't seem like there's a changelog anywhere, so I can't be sure if things will break or what has changed when I update the version :confused:

[2014-05-08 13:49] #19 closed, assigned to nobody

[2014-07-23 12:29] sheerun opened #20 "Issues with cross-process concurrency"
It's connected with yeoman/insight#22

Configstore [doesn't lock config storage](https://github.com/yeoman/configstore/blob/fe53f4c7b15aa8898b9fd69d667cb1554cd0a226/configstore.js#L63) before writing to it. It can result in invalid YAML when instantiating configstore in different processes concurrently.

If configstore encounters invalid YAML, [it cleans the store](https://github.com/yeoman/config

[2015-04-29 18:38] #10 closed

[2015-07-19 11:40] jenius opened #23 "Recommended upgrade path?"
Appreciate the note about the breaking change in `1.x` -- do you have a recommended upgrade path for moving towards `1.x` and above? Is it just a matter of digging up the existing yaml file and converting it to json?

Just curious if you have a recommended way to upgrade, since it seems like it shouldn't be too tough and I'm sure people want to do it :grinning:

[2015-07-19 12:01] sindresorhus commented on #23
Yeah, that's why we chose to do it in a major. If you care about what's saved there's no reason for you to upgrade. The upgrade is mostly just for new users. You could always check if it's YAML and convert it, but I didn't want to deal with such complexity, and which would have to stay in the codebase forever. Think of 2.0.0 as a new module.

[2015-07-19 12:01] #23 closed

[2015-07-19 12:32] jenius commented on #23
Sure, I understand. I was just curious if you had a recommended chunk of code to do this that could be implemented outside the module by users so they can stay on the latest version. But if I'm reading this right, you're saying that `^0.3.x` and `^1.0.0` will remain the same in functionality and patches until `2.x`, so it doesn't matter and there's no need to upgrade?

[2015-07-19 12:47] sindresorhus commented on #23
Some quick untested example code:

[code]

I'm saying 1.0.0 is very stable and will continue to work perfectly. However it's not going to get any more updates.

[2015-07-22 02:37] dfreeman commented on #20
I spent a little time looking at this today. Unfortunately, it looks like the only way to incorporate a file lock would be to make the entire configstore API asynchronous.

Given that this is already a fairly small library,  a change like that would essentially amount to a complete rewrite. There's also something to be said for the simplicity of the synchronous interface for use cases that aren't

[2015-07-22 04:41] sindresorhus commented on #20
I don't see why it would have to be async. Can you elaborate?

[2015-07-22 11:47] dfreeman commented on #20
If the lock is already held by another process when we go to read/write the config file, then the two options are either to give up entirely, or to wait some amount of time and check the lock again.

In the "just give up" option, clients of the library have to be prepared to handle a "lock already taken" exception potentially being raised by any configstore operation. They then have to implement t

[2015-07-25 20:39] sindresorhus commented on #20
Another alternative could be to use atomic file writing and just let the last concurrent write win. One concurrent write will overwrite another, but that might not be such a big problem?

// @SBoudrias @sheerun

[2015-07-25 21:16] SBoudrias commented on #20
I think having the last concurrent write win is good enough.

About the point about the automatically retry, the dummy implementation is to lock the process with a loop: `while (now < t300msLater) {}`. This is blocking the process - but that's kind of the point of a synchronous API. That would be way easier than starting to play with fibers.

[2015-07-26 12:49] sheerun commented on #20
I have no idea how to implement "last concurrent write win" behavior :) With node-proper-lockfile it's probably feasible to implement "first concurrent write win", because subsequent calls to lockSync would throw an error..

[2015-07-26 12:51] sindresorhus commented on #20
@sheerun We can use atomic file writing: https://github.com/iarna/write-file-atomic It works by writing to a temporary file first, then renaming and overwriting the actual file when done. We would then get "last concurrent write win" for free.

[2015-07-26 18:35] sheerun commented on #20
That's certainly better than corrupted configuration files :)

[2015-07-27 14:26] dfreeman commented on #20
@SBoudrias Blocking the process _is_ the point of a synchronous API, but using a busy loop that pegs one CPU core seems less than ideal.

@sindresorhus Atomic writes definitely solve the corruption problem, and like you mentioned, it's easy to drop in a package to handle that. If you decide just avoiding total corruption is good enough for this project, then :+1:.

In casual testing, though, the r

[2015-08-04 18:28] #20 closed

[2015-08-31 16:26] kevinSuttle commented on #4
I came here looking for the same thing: docs and samples that illustrate use cases.

[2015-08-31 16:30] sindresorhus commented on #4
@kevinSuttle Whenever you need to persist some text. For inspiration you could look at its dependents on npm: https://www.npmjs.com/browse/depended/configstore

[2015-10-07 10:57] LinusU opened #26 "Better cross platform support"
I wrote a similar module some time ago. Later I extracted just the path-constructing part into a separate library. I think it could benefit this module.

[LinusU/node-application-config-path](https://github.com/LinusU/node-application-config-path)

It just exposes one function which takes a name and gives a path, this in accordance with the table below.

Platform | Location
--- | ---
OS X | `~/Lib

[2015-10-24 18:16] noffle opened #27 "Save config under each app's own namespace"
The current behaviour is to save some package `package-name` under

`~/.config/configstore/package-name`

This means every app using configstore has its configuration file saved under the `configstore` namespace, rather than under that app's own namespace. This approach goes against the usual config convention (`~/.config/package-name`). There are some drawbacks to going against this convention:

[2015-10-24 18:23] sindresorhus commented on #27
It's intentional. By having it under the `configstore` namespace, we ensure that there will never be any conflict, as package names are unique on npm. Having it directly under `~/.config` makes it a target for conflict with any other ecosystem. I didn't want my users potentially having to deal with that.

Proof please.

Never heard of anyone migrating to `configstore`. Sounds like an edge-case.

F

[2015-10-24 19:03] noffle commented on #27
That makes sense: that's a strong benefit for `configstore` clients that's in line with the project's tagline of "store config and don't worry about it".

Are you open to compromising and providing a constructor option to specify a config path? I really like `configstore`'s API, but I'd like my CLI programs' configs to be first-class unix ecosystem citizens.

[2015-10-24 19:17] sindresorhus commented on #27
Sure. PR welcome. Should be an options object in case of more options in the future.

[2015-10-27 12:48] sindresorhus commented on #27
Fixed by https://github.com/yeoman/configstore/pull/28.

[2015-10-27 12:48] #27 closed

[2015-10-27 12:53] sindresorhus commented on #26
This is indeed what I would have done if I were to make this module today, but I honestly don't think it's worth doing it now. Doing so would mean a major version and everyone having to somehow migrate their config. This module is also very much battle-tested and I don't want to risk introducing problems by changing the paths, think permission problems, directories not existing, etc. I consider th

[2015-10-27 12:53] #26 closed

[2015-12-03 21:45] etiktin opened #30 "An option to fail silently (not throw)"
I'm using `configstore` to store some non-essential information in one of my projects. The other day one of our testers got a one time exception on Windows (seems to come from `writeFileAutomic` trying to rename the file).
The exception is unacceptable, especially since the information there is really non-essential and it's not the end of the world if it fails from time to time.
Are you open to ac

[2015-12-03 21:51] SBoudrias commented on #30
This error is probably not "intermitent". It looks like an actual programming error we should just fix.

You should report a bug when you run into this.

[2015-12-03 22:04] etiktin commented on #30
It was intermitent. The tester tried it 10 more times and it worked. It worked before and after.
Node's fs is not super reliable on Windows. graceful-fs helps, but I still get exceptions from time to time (antivirus seems to make it worse).

[2015-12-04 18:09] sindresorhus commented on #30
:-1: You can do that in your code. Sounds like too much of an edge case for this module. I'd much rather see it actually fixed, than just hidden.

[2015-12-07 16:16] etiktin commented on #30
In case anyone is interested in this, I added it to my [fork](https://github.com/etiktin/configstore). It adds support for setting a custom error handler (https://github.com/etiktin/configstore/pull/2) and support for setting a custom config path which is useful when your app has a designated place to store user data such as Electron's userData directory (https://github.com/etiktin/configstore/pul

[2015-12-07 16:16] #30 closed

[2016-01-13 17:30] morkro opened #33 "config.set() deeper than one level?"
Hello,

is it possible to extend the `config.set()` _(and maybe `config.get()` as well)_ to allow more than one level of nesting?

My problem is that my config file looks similar to this:

[code]

and I want to be able to set `config.set('foo.bar', false);`.

Otherwise I would've to split the JSON up into smaller pieces and that would become really messy after a while :disappointed_relieved:

Edit

[2016-01-15 13:41] bitomule opened #34 "EACCES: permission denied"
We have an electron app that uses configstore and one user reported this error:
[code]

It appears on osx in multiple computers/users on app launch.

Any idea on what can cause this?

I've asked the user to run a chown but I don't understand what changed the permissions in that folder. Any idea on why this happens?

[2016-01-15 14:01] sindresorhus commented on #34
If the user has previously run a tool using `sudo` that does something in `.config` it might have changed the permission of that folder.

[2016-01-16 11:41] bitomule commented on #34
And is there any way to fix or prevent the issue from our side?

[2016-01-16 21:32] SBoudrias commented on #34
@bitomule not really, permissions are handled by end users - but lots of them don't understand them. :(

A thing we can do is detect corrupted permissions and raise an error with instructions to re-`chown` their folder to their current user.

[2016-01-16 21:55] sindresorhus commented on #34
If only...

[2016-01-16 22:06] SBoudrias commented on #34
@sindresorhus I'm pretty sure we could catch the EACCESS error and give a helpful error message. We could even make a module doing it:

`descriptiveEACCESSerror(func);`

[2016-01-20 13:16] bitomule commented on #34
Is this the right terminal command to fix the error?

```sudo chown -R username /Users/username/.config/configstore/```

[2016-01-20 18:40] SBoudrias commented on #34
@bitomule looks right to me

[2016-01-21 10:30] bitomule commented on #34
User still reports the same error. Any idea on how can I help him fix it? Maybe some application is changing permissions again and again?

[2016-01-26 11:12] bitomule commented on #34
Is there any other node.js package to save settings? I can't fix the user issue or reproduce it.

[2016-01-26 11:31] sindresorhus commented on #34
@bitomule They will have the same issue if they save to `/Users/username/.config`. This is not a problem with `configstore` itself.

[2016-01-26 11:36] bitomule commented on #34
@sindresorhus and
[code]
should fix it no? I don't know what more can I ask the user to do in order to fix it :(

[2016-01-26 11:44] sindresorhus commented on #34
@bitomule If you're building with Electron, I would honestly just save it in the BrowserWindow localStorage instead. That way you don't have to deal with all the stupid filesystem issues.

[2016-01-28 09:59] bitomule commented on #34
Thanks @sindresorhus, I'll do that.

[2016-01-28 09:59] #34 closed

[2016-02-16 10:32] rexxars commented on #33
+1 - will a PR for this be merged?

Should be able to do this in a backwards-compatible way (check for plain string key first, use `lodash.get` or similar if not)

[2016-02-16 10:40] sindresorhus commented on #33
Sure. PR welcome. Could just use https://github.com/sindresorhus/dot-prop. You can't really do it backwards compatible as the user might have had a key with a dot in it, however unlikely that sounds, so I guess this just has to be a major bump.

[2016-02-16 10:54] morkro commented on #33
Cool! @rexxars will you send a PR or can I do it?

[2016-02-16 10:56] rexxars commented on #33
Feel free, I had a quick look at `dot-prop` and it seems it's missing a `delete` function. Apart from that, this should be trivial given we don't have to provide backwards-compatibility.

[2016-02-18 11:18] rexxars commented on #33
@morkro Are you on this? I'd love to use this feature in an app I'm building at the moment

[2016-02-18 11:30] morkro commented on #33
I would send my PR this evening. It extends only to two levels though.

[2016-02-18 12:03] rexxars commented on #33
Ok, what is the reasoning behind the two-level limit?

[2016-02-18 12:14] morkro commented on #33
Just because it was a quick workaround for myself. I will open an improved PR today :)

[2016-02-19 14:24] morkro commented on #33
@rexxars Does my pull request work for you?

[2016-02-19 14:36] rexxars commented on #33
Have not tested the PR, but I discovered an issue with the `del()` implementation - let's move the discussion over to #35

[2016-02-29 22:06] Deadarius opened #36 "Events?"
It would be nice to have events like ```.on('set', cb)``` in case behaviour of the whole system should be updated. If such change is desirable by community, I would love to make a PR with it.

[2016-03-01 06:22] sindresorhus commented on #36
Can you show an example of when it would be useful? I don't really see the point personally.

[2016-03-01 08:47] #33 closed

[2016-03-06 23:46] Deadarius commented on #36
Let's say I want to show some information as part of my CLI tool prefix, and this information is dependant on the value in configstore, so every time when it changed I want to trigger an update for console prefix.

[2016-03-07 04:17] sindresorhus commented on #36
@Deadarius But you're the one that get/set using configstore, so you already have that information available.

[2016-05-04 15:17] CxRes opened #38 "update graceful-fs to v4 for node 6.0.0"
Please update graceful-fs to v4 for node 6.0.0 compatibility.

[2016-05-04 15:18] sindresorhus commented on #38
Already done a year ago: https://github.com/yeoman/configstore/blob/a4692d4f0c5aad76b29a770f3dbda2575e303fe0/package.json#L33

You're using a dependency that uses an old version of this module. Open an issue there instead.

[2016-05-04 15:18] #38 closed

[2016-05-04 15:19] CxRes commented on #38
Thanks for the heads up!!!

[2016-05-06 12:39] dsl101 opened #39 "Inclusion of setPlain() and getPlain() for non-dotProp keys"
I'm using CIDRs as config keys, and it makes less sense to use dotProp to set / get. I toyed with adding an option to specify whether to use dotProp or not, but in the end it was easier to add 2 new methods and use those to store plain strings with dots in the keys:

	Configstore.prototype.setPlain = function (key, val) {
		var config = this.all;
		if (arguments.length === 1) {
			Object.keys(key)

[2016-05-07 01:23] sindresorhus commented on #39
Thanks for the suggestion, but not something we're interested in.

[2016-05-07 01:23] #39 closed

[2016-05-09 20:10] jescalan opened #40 "Upgrade graceful-fs in older release"
I am still using the `0.3.x` line because of [this issue](https://github.com/yeoman/configstore/issues/23), and getting the graceful-fs warning on node 6. Any chance of a patch update?

[2016-05-09 20:12] SBoudrias commented on #40
I guess it's time for you to upgrade then.

[2016-05-09 20:19] jenius commented on #40
Haha rough times. I guess so!

[2016-06-15 21:22] xingped opened #41 "npm package out of date"
I'm not sure if you have control over the npm package at https://www.npmjs.com/package/configstore , but it's currently out of date with a last-published date of about 4 months ago. (Most notably it doesn't have the "has" function, which is how I noticed.)

[2016-06-15 22:15] sindresorhus commented on #41
There's been no new release since then. There will be one when https://github.com/yeoman/configstore/pull/37 is merged.

[2016-06-15 22:15] #41 closed

[2016-06-18 14:24] MunGell opened #42 "`has()` method is not in NPM"
Hi there,

I just installed `configstore 2.0.0` from NPM and it does not have `has()` method.
I suspect new version was not published to npm yet?

[2016-06-18 15:48] sindresorhus commented on #42
Duplicate of https://github.com/yeoman/configstore/issues/41.

[2016-06-18 15:48] #42 closed

[2016-06-18 16:46] MunGell commented on #42
Hi @sindresorhus

Sorry, haven't seen the duplicate.
Wouldn't it make sense to leave issues open until they are actually fixed?

[2016-06-18 17:23] sindresorhus commented on #42
No. There's no issue. Both of these issues are invalid. Readme in master reflects master. If you want the API for the version you're using, go to the relevant tag or the npm page.

[2016-07-08 23:29] tomergg opened #43 "Custom root folder"
I'm thinking of adding an option to specify the root folder in the ctor arguments.
Right now it's hardcoded to 'configstore'.

What do you think?

[2016-07-08 23:35] sindresorhus commented on #43
Why?

[2016-07-09 02:28] tomergg commented on #43
I'm working on a large project structured with sub-modules. Ideally, the config structure would look like this:
project-name/module1.json
project-name/module2.json
project-name/module3.json

[2016-07-09 14:26] sindresorhus commented on #43
The idea of configstore is that you shouldn't care about where the config is stored. It's just handled for you. Sounds like [`conf`](https://github.com/sindresorhus/conf) would be a better fit for you (see the `configName` and `cwd` options).

[2016-07-09 14:26] #43 closed

[2016-07-09 14:26] #40 closed

[2016-07-09 14:26] #36 closed

[2016-07-11 16:07] tomergg commented on #43
Thanks @sindresorhus
I'll look into 'conf'

[2016-07-15 10:07] dka09 opened #44 ".has is not a function error"
[code]

When I try and use `conf.has('keyName')` I get an `Uncaught TypeError: conf.has is not a function`.
The docs on npm do not show the `.has` function but it does apear on the readme.md on github.

EDIT: npm does not contain the version with `.has` and renamed `.del` function.

[2016-08-04 01:05] dawsonbotsford commented on #44
What version of `configstore` are you running?

Also, what's your output to this?

[code]

[2016-08-04 08:29] dka09 commented on #44
When I do `npm install configstore` I get version 2.0.0.
`node --version` = 6.3.1
`npm --version` =
[code]

[2016-08-04 16:03] dawsonbotsford commented on #44
We're at a standstill because you say you have version 2.0.0, and that [has "has" as a function in it](https://github.com/yeoman/configstore/blob/master/test.js#L44). So how about you pop open the source and ensure it's version 2.0.0.

[code]

[2016-08-04 16:09] SBoudrias commented on #44
Only latest master has the `.has()` function. It is not yet released. (we're waiting to merge one last PR)

Please check the latest release documentation https://github.com/yeoman/configstore/tree/v2.0.0

[2016-08-04 16:09] #44 closed

[2016-08-04 18:26] dawsonbotsford commented on #44
Unreleased changes on master. Thanks for the info @SBoudrias, I should have checked the commit messages to see when the last version change was.

[2016-08-09 13:04] fabiantheblind opened #45 "Error when using configstore within electron-prebuild"
Hi there, I'm trying to use the lib within a electron project but I get this error:

    Uncaught Exception:
    TypeError: Cannot set property 'path' of undefined
        at Configstore (/Users/icke/Documents/frntl/frontal/app/node_modules/configstore/index.js:26:12)

Where can this come from?

I boiled it down to this gist https://gist.github.com/fabiantheblind/c557f3dcccf135b9ae441ed200f22e55

[2016-08-09 14:13] sindresorhus commented on #45
It's a class. You have to use `new`.

-

Sidenote: For Electron usage. I would recommend [`electron-config`](https://github.com/sindresorhus/electron-config) instead, which is optimized for Electron.

[2016-08-09 14:13] #45 closed

[2016-08-09 15:02] fabiantheblind commented on #45
m(  (facepalm). Sorry. I'll take a look at electron-config. Thanks.

[2016-08-31 17:36] rexxars opened #46 "Release new version?"
It's been a while since the last version was published. Since then, a change has been introduced where `del` has been renamed to `delete`. The readme reflects this, but the latest version actually published on npm doesn't  have the `delete` method. This is confusing.

Could we get a `2.0.1`? :-)

[2016-08-31 20:12] SBoudrias commented on #46
We were waiting for a PR, but it's not moving ATM. I'll try to get a new release out tonight.

[2016-09-01 04:19] SBoudrias commented on #46
Done, 2.1.0 is out.

[2016-09-01 04:19] #46 closed

[2016-09-10 02:50] amilajack opened #47 "Question: Check if config exists?"
Is there a proper, cross-platform way to check if the config file already exists?

[2016-09-10 05:54] sindresorhus commented on #47
What problem are you trying to solve?

[2016-09-10 06:38] amilajack commented on #47
I'm trying to check if a configuration already exists. `new Configstore()` will create a new store and I want to avoid that if I one was already created.

[2016-09-10 07:49] sindresorhus commented on #47
Configstore merges in the existing store, so no need to check.

[2016-09-10 16:55] amilajack commented on #47
I'm also trying to initialize some values upon creation. For example,

[code]

[2016-09-10 23:38] amilajack commented on #47
Thanks for clarifying!

[2016-09-10 23:38] #47 closed

[2016-12-16 22:48] bglidwell opened #48 "Does this write a new config by design?"
Every time I run my code, it wipes out the previous config and resets to a blank file with just {}. Looking at the code, this seems to be by design if no defaults are put in. If I put something in default, it writes that instead each time. However, I want my config to persist, such that I can call it up, load some values, change some, close it, and when I rerun my code, it'll pull from that saved

[2016-12-16 22:53] sindresorhus commented on #48
It should preserve the existing config. You're either doing something wrong or there's a bug, but I'm leaning towards the former as `configstore` has been working fine for years without problems. Submit a failing tests and I'll take a closer look.

[2016-12-16 22:57] bglidwell commented on #48
You are 100% correct. Thank you so much for the fast response.

My existing .json config file was missing a comma after one of the parameters and once I fixed that, it stopped writing over my config file with {}

[2016-12-16 22:57] #48 closed

[2017-04-10 14:47] tjoye20 opened #52 "Will this work with auto-updates, on Electron?"
Building an Electron app, and using configstore to persist small bits of data. Wondering if this will work when the app auto-updates.

[2017-04-10 15:01] #52 closed

[2017-05-08 20:32] safinn commented on #52
@tjoye20 Did you manage to get an answer to this?

[2017-05-08 20:35] safinn opened #53 "Cannot build with webpack"
Im using this module in a react app and when trying to bundle the code with webpack in production mode I get an error due to this line:

`const defaultPathMode = 0o0700;`

with the text Invalid syntax. Should the value be a string (surrounded by quotes)?

[2017-05-08 20:41] sindresorhus commented on #53
This module mainly targets Node.js, not the browser. It's up to you to transpile it with Babel if you want to use it in the browser. You can find a more detailed explanation here: https://github.com/sindresorhus/ama/issues/446

[2017-05-08 20:41] #53 closed

[2017-05-08 20:45] sindresorhus commented on #52
Yes, the config will be preserved when the app auto-updates. The config is stored in a different place. However, I would recommend using [`electron-config`](https://github.com/sindresorhus/electron-config) instead, as it's optimized for Electron usage. I'm the author of both.

[2017-05-08 20:49] sindresorhus commented on #53
In this case, the proper way would be to tell webpack to ignore it. See: https://github.com/sindresorhus/electron-config/issues/3

[2017-05-09 03:35] tjoye20 commented on #52
@safinn Yes, I did. Thank you for following up.

@sindresorhus I chose to stick with configstore, as it works exactly how I need. If I have trouble, I'll update to electron-config. Thank you!

[2017-06-26 08:59] OmgImAlexis opened #54 "Option to use temp dir over default"
For testing purposes it'd be nice if I could edit my config without it saving to disk since other tests may need different configs and since there's only one file used race issues may happen.

[2017-06-26 11:05] sindresorhus commented on #54
Can't you just give it another name like done in the tests here? https://github.com/yeoman/configstore/blob/0108c448a085da23b8490debade0de76798243c5/test.js#L9

Can you elaborate on how this would look like?

[2017-06-26 11:10] OmgImAlexis commented on #54
Ah, that'll work.

[2017-06-26 11:10] #54 closed

[2017-06-26 11:10] SBoudrias commented on #54
Also, would it be possible to mock configstore? This might be the easiest solution.

[2017-07-21 16:32] Jason3S opened #56 "Lazy directory / file create"
I noticed that configstore creates the directory and file on read.

Would you be interested in adding an option that allowed for file creation at write time if it doesn't exist?

I had some user complaining about files being written when they hadn't made any changes.

[2017-07-21 17:15] sindresorhus commented on #56
How would they even notice? It's not written in a location users usually look at. And why is it a problem? You're going to write to that directory at some point regardless. I'm just trying to understand your use-case.

[2017-07-21 19:16] Jason3S commented on #56
Our use case is a bit different. If the global setting exists, then read it and merge it with the local settings. [Related Issue](https://github.com/Jason-Rev/vscode-spell-checker/issues/110) is about how the file was written when it wasn't ask for.

I can do a pull request if this helps.

The idea is to add a "lazy" option and only create on write.

[2017-07-21 19:25] sindresorhus commented on #56
Not really interested in an option for this obscure use-case, but I guess we could remove https://github.com/yeoman/configstore/blob/35d46bb6a37a17d5ff69896b13ea7c322728e54f/index.js#L33 as it seems moot since we already create the directory on write.

[2017-07-21 20:04] Jason3S commented on #56
Excellent!! That works perfectly!

[2017-07-21 20:17] kevva commented on #56
@Jason3S, PR welcome :).

[2018-07-18 17:31] callumlocke opened #59 "Question: any equivalent tool for caching data?"
Is there any similar tool or convention for saving cached data instead of configuration?

For example, in a CLI that sometimes downloads stuff from the internet in response to user input... is there any standard location for caching downloaded things to speed up the next run? Or is the convention just to put them in a new hidden folder in the root of the home dir?

[2018-07-28 15:53] #56 closed

[2019-01-23 16:10] davidkjackson54 opened #61 "Option to determine presence of a config file?"
I have searched the doc but not found a clear answer to this. Apologies if I missed anything.
Is there a 'clean' method to determine the existence of a configstore file?
Currently a new configstore file is created if it doesn't exist. Ideally I would like to check for the presence of a configstore that is expected to be present.

Thanks

[2019-01-23 17:17] sindresorhus commented on #61
Why do you need that? What’s your use-case?

[2019-01-23 17:33] davidkjackson54 commented on #61
I need to access a configstore file but it must pre exist.  Simply  using this:
const confdef = new Configstore('rest_default') will automatically create the file if it doesn't exist.  I don't want that.  I need to only open the configstore file if it first exists otherwise I will put out an error.

[2019-01-24 16:36] davidkjackson54 commented on #61
To me it would seem a fundamental requirement to be able to determine the existence or not of a config file.
My initial thought was to issue this:
const confdef = new Configstore('rest_default')
let x = conf.get('parm')
and then check if x was undefined. if undefined it would tell me that the config file had been created and didn't preexist.
The problem then is that there is then no means to go an

[2019-02-04 07:06] sindresorhus commented on #61
Actually, it won't. Only if you use the `defaults` option. See: https://github.com/yeoman/configstore/commit/b8d6372dc3fde21d419eef1dd42577fd65c6c362

---

1. We could expose a property for whether it's setting up the config for the first time (meaning there was no config file already). Would that solve your problem? You would need to come up with a good name for the property.
2. We could add a `.

[2019-02-04 18:07] #61 closed

[2019-06-11 17:54] #6 closed

[2019-06-24 16:05] p3x-robot opened #63 "v5 is not working with SNAP"
[code]

When I revert to configstore v4 and install on SNAP it works 100%.
With v5 it tries to chown a file, that is not permitted on SNAP.

[2020-02-13 16:30] stephengcox opened #65 "release for CVE-2020-8116"
Hello there, would it be possible to cut a release including the fix for CVE-2020-8116?

[2020-02-13 17:44] sindresorhus commented on #65
https://github.com/yeoman/configstore/releases/tag/v5.0.1

[2020-02-13 17:44] #65 closed

[2020-04-07 08:31] EduardoSimon opened #66 "Versioning the config store"
Hi, I'd like to congratulate you for the amazing work you've done with this package. It's been great. However, I've got a problem when I update the default configuration in the ConfigStore declaration and release it to npm. Users who have an older version of my package don't get their local config-store delete under ~/.config/configstore. Should I do this in the bootstrap of my package and save th

[2020-04-07 08:54] sindresorhus commented on #66
Yes, it's up to you to handle breaking version changes.

[2020-04-07 15:23] EduardoSimon commented on #66
Okay, any tips on that?

[2020-04-12 14:29] sindresorhus commented on #66
It really depends on how you use it. If the values can be regenerated, `.clear()` is fine. Otherwise, you need to migrate over the data to the new structure.

I have a similar package that supports migrations: https://github.com/sindresorhus/conf#migrations

[2020-04-12 14:29] #66 closed

[2020-04-28 11:03] bloodchen opened #68 "How to handle arrays?"
Let's say I have a json file
{
   "items":[
        {"name":"abc","size":1},
        {"name":"abcd","size":2},
       ]
}
How can I add a new item to the items array?

Thanks
Jeff

[2020-04-29 02:43] sindresorhus commented on #68
Closing in favor of https://github.com/sindresorhus/conf/issues/109

---

Please don't post the same issue in multiple repos.

[2020-04-29 02:43] #68 closed

[2020-05-30 22:31] OJFord opened #69 "Whether to use `configstore` or `<package name>` should be a *user* option"
It shouldn't be up to the package whether to store in `~/.config/configstore/` or in `~/.config/<pkgname>/`, it should be up to the user.

Better: respect the XDG base directory specification, or do that and further add `$<PKGNAME>_HOME` env var option.

I came to this repo wondering where the hell `~/.config/configstore` came from, because I haven't installed any 'configstore'. As #27 says, havin

[2020-06-02 04:43] olavoparno opened #70 "thank you"
Thanks for the XDG_CONFIG_HOME variable. It helped me by using it in Lambda Functions. Just in case someone struggles with it.

[2020-07-17 19:39] sindresorhus commented on #70
👍🏻

[2020-07-17 19:39] #70 closed

[2020-07-17 19:46] sindresorhus commented on #69
This is too late to change now. Would be too much of a breaking change. However, we have an option to change the default now: https://github.com/yeoman/configstore#globalconfigpath

Also, the more modern alternative to `configstore` uses the correct location: https://github.com/sindresorhus/conf

Package consumers of `configstore` are free to support user-config to set the location, but this is no

[2020-07-17 19:46] #69 closed

[2020-07-17 19:47] sindresorhus commented on #63
I think this could be fixed by switching to use https://github.com/fabiospampinato/atomically

[2020-08-14 19:04] kevinbosman opened #71 "v3.1.3 is now breaking node 6 builds"
v3.1.3, just released, has started breaking our Node 6 CI server builds.

This is because node 6 comes bundled with npm 3.10.10, and npm 3 does not support package aliasing in dependencies (`"npm:dot-prop-legacy@^4.2.1"`)

The package aliasing feature was only added in npm v6.9.0 (https://npm.community/t/release-npm-6-9-0/5911)

EDIT: I see it is breaking your CI builds for `configstore` on Node 4

[2020-08-14 19:09] ruyadorno commented on #71
@kevinbosman I'm going to patch it ASAP, thanks for the report and sorry about that! 😬

[2020-08-14 19:30] ruyadorno commented on #71
should be fixed now in **v3.1.4**

Thanks again for the quick report @kevinbosman I was being too optimist with regards to package aliasing support - I didn't meant to break anyone relying in this legacy version 😊

[2020-08-14 19:30] #71 closed

[2020-08-14 19:31] kevinbosman commented on #71
Many thanks @ruyadorno for quick turnaround! I can confirm it is now working for me.

[2020-10-15 16:38] grischaerbe commented on #48
I think it's not the most graceful method to overwrite a config if the json file is malformed. Read about my use case in the dev-ops software caprover here: [https://github.com/caprover/caprover/issues/858](https://github.com/caprover/caprover/issues/858).
tl;dr: i was manually editing the config and a tiny mistake wiped my config.
Validating json before overwriting it should be the sane way to pa

[2021-03-24 02:53] MatejKafka opened #74 "Allow user to override location of `configstore` directory using an environment variable"
Some users may have different opinion on where configstore should store the data. For example, using `C:\Users\<name>\.config` on Windows is unconventional and not really common, nor recommended (actually, it's an anti-pattern that only Linux tools use).

No matter the reason, the user may want to store the config somewhere else (my usecase is for portable packaging of Node.js, where I want it to

[2021-03-29 01:20] takenspc opened #75 "Requiring Node.js 10+?"
Node.js 10 LTS  introduced recursive `fs.mkdirSync` so that we can drop make-dir from dependencies.
https://nodejs.org/dist/latest-v10.x/docs/api/fs.html#fs_fs_mkdirsync_path_options

If it is fine, I will open a pull request to drop make-dir.

[2021-03-31 05:36] takenspc commented on #75
I opened https://github.com/yeoman/configstore/pull/76

[2021-04-05 07:13] #75 closed

[2021-04-05 17:33] see7788 opened #77 "You want to provide the same path of electronic store"
How to set it to the same path as the electron-store

[2021-04-05 18:05] sindresorhus commented on #77
There's a `configPath` option. Why are you not just using `electron-store`?

[2021-04-05 18:05] #77 closed

[2021-04-06 07:50] see7788 opened #78 "What parameters are needed to set the path to electron-sotre"
What parameters are needed to set the path to electron-sotre

[2021-04-06 07:54] sindresorhus commented on #78
Duplicate of #77

[2021-04-06 07:54] sindresorhus commented on #78
Please don't open duplicate issues.

[2021-04-06 07:55] #78 closed

[2021-04-06 08:11] see7788 commented on #77
Electron sotre is suitable for electron

Httpserver and socketserve have no electron

I want to initialize the port and domain name with the same file

[2021-04-06 08:14] see7788 commented on #77
Electron sotre is suitable for electron

Httpserver and socketserve are node, and there is no electric

I want to initialize the port and domain name with the same file

[2021-05-05 09:29] Arpit2218B opened #79 "Current version not working with node js application"
The latest version use ES module import statement in index.js file of the module

import path from 'path' etc.

which is throwing error in normal node js application using common js imports - require('configstore')

Error :
![image](https://user-images.githubusercontent.com/65629634/117121646-80b40f00-adb2-11eb-8812-cec16f413c08.png)

[2021-05-05 10:07] sindresorhus commented on #79
Please read the release notes.

[2021-05-05 10:07] #79 closed

[2021-06-13 05:52] sherlock-00 opened #80 "After Requiring Error"
[code]

This is the error I am getting

[2021-06-13 06:03] #80 closed

[2021-06-13 13:13] jimmywarting opened #81 "Secure temp dir in NodeJS without dependencies"
I'm looking into ways to reduce the footprint from all dependencies to try and reduce the overall size.
One of them i looked into was if `unique-string` was really needed.

https://github.com/yeoman/configstore/blob/02f07ead1cbbc1c8b49e3c9ba6e7a4896594368d/index.js#L7-L9

After reading up on some natives way of solving this problem i found this nice article that solves it in a very straight forwar

[2021-06-27 20:19] tiagohermano commented on #80
@sherlock-00 did you manage to solve the error?

[2021-08-23 11:23] Tushar1998 commented on #80
Version 6
you can't require configstore because the library is now Ecma Script Module(esm)
use version 5  and you wont get this error

If you still want to use version 6 make your app module by adding property type : "module" in package json

CJS and ESM can't get along 🙃

[2021-09-10 05:52] xencodes commented on #80
if we can't require then what do we do?

[2021-09-10 08:56] Tushar1998 commented on #80
You can use node dynamic import

`(async ()=>{
  const configStore = await import("configStore")
   // Now you can use configStore

   console.log(configStore)
})()`

[2021-11-29 10:19] MananDesai54 opened #82 "in v6.0.0 with typescript, giving error regarding dynamic import"
configstore version: 6.0.0
nodejs version: 16.13.0
typescript version: 4.5.2

[code]
I tried changing module and target in tsconfig and added type="module" in package.json but it didin't help

[2021-11-29 10:32] sindresorhus commented on #82
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2021-11-29 10:32] #82 closed

[2021-11-29 11:19] MananDesai54 commented on #82
Working fine now, Thank you!!
Just one question, Are Nodejs team planning to include ESM ?

[2022-04-08 10:13] Ynk33 commented on #48
We have exactly the same use-case today, and this issue is still here.
I don't understand how wiping the entire file if the json is not valid can be a valid behaviour.
An exception should be raised and the file should not be overwritten at all if its content is not valid json.

[2022-11-24 14:35] jimmywarting opened #84 "is gracefull fs still needed?"
nodejs have built in recursive mkdir...
https://github.com/yeoman/configstore/blob/02f07ead1cbbc1c8b49e3c9ba6e7a4896594368d/index.js#L3

[2022-11-27 21:06] sindresorhus commented on #84
It is used to improve reliability on Windows. Not sure if Node.js has improved that: https://github.com/isaacs/node-graceful-fs#improvements-over-fs-module